*/*/__pycache__
custom_components/数据结构.json
custom_components/kiwiot_ws/cache
*/*/*/__pycache__
*/*/*/.cache
*/*/*/.pytest_cache
.cloud
.storage
.vscode
blueprints
deps
kiwiot_config
tts
.HA_VERSION
.shopping_list.json
automations.yaml
configuration.yaml
home-assistant*
scenes.yaml
secrets.yaml
scripts.yaml